.hidden {
  display: none;
}

.header {
  width: 100%;
}

.main {
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
}

.section {
  padding: 0px 150px;
}

.header__container {
  padding: 10px 40px;
}

.header__logo-link {
  width: 8%;
}

.header__logo {
  width: 100%;
}

.header__burger-icon {
  display: none;
}

.desktop-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.desktop-menu__list {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  padding-right: 15px;
  list-style: none;
}

.desktop-menu__item {
  margin: 7px 15px 0px 15px;
}

.desktop-menu__link {
  font-size: 2.4rem;
  text-decoration: none;
  text-align: center;
  font-family: "Alien Encounters";
  text-shadow: 0px 0px 10px var(--light-blue), 0px 0px 30px var(--light-blue),
    0px 0px 50px var(--light-blue);
  color: var(--white);
}

.desktop-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 5rem;
  padding-top: 5px;
  font-family: "Alien Encounters";
  font-size: 2.2rem;
  color: var(--black);
  text-decoration: none;
  background-color: var(--white);
  border-radius: 20px;
  text-shadow: 0px 0px 20px var(--pink), 0px 0px 30px var(--pink),
    0px 0px 60px var(--pink);
  box-shadow: inset 0px 0px 30px 1px var(--pink), 0px 0px 50px 1px var(--pink);
  border: 1px solid var(--pink);
}
