.header {
  width: 100%;
}

.main {
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
}

.section {
  padding: 0px 150px;
  height: 100vh;
}

.header__container {
  padding: 10px 40px;
}

.header__logo-link {
  width: 10%;
}

.header__logo {
  width: 90%;
}

.header__burger-icon {
  display: none;
}

.desktop-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.desktop-menu__list {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  padding-right: 15px;
  list-style: none;
}

.desktop-menu__item {
  margin: 7px 15px 0px 15px;
}

.desktop-menu__link {
  font-size: 2.4rem;
  text-decoration: none;
  text-align: center;
  font-family: "Alien Encounters";
  text-shadow: 0px 0px 10px var(--light-blue), 0px 0px 30px var(--light-blue),
    0px 0px 50px var(--light-blue);
  color: var(--white);
}

.desktop-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 5rem;
  padding-top: 5px;
  font-family: "Alien Encounters";
  font-size: 2.2rem;
  color: var(--black);
  text-decoration: none;
  background-color: var(--white);
  border-radius: 20px;
  text-shadow: 0px 0px 20px var(--pink), 0px 0px 30px var(--pink),
    0px 0px 60px var(--pink);
  box-shadow: inset 0px 0px 30px 1px var(--pink), 0px 0px 50px 1px var(--pink);
  border: 1px solid var(--pink);
}

.hero::before {
  background: linear-gradient(180deg, var(--dark-purple), #18042300 80%),
    linear-gradient(0deg, var(--dark-purple), #18042300 50%);
}

.hero__article {
  width: 38%;
  min-width: 420px;
  max-width: 425px;
}

.hero__main-title {
  font-size: 10rem;
  line-height: 8rem;
}

.hero__main-greeting {
  font-size: 4.5rem;
  top: -80px;
}

.hero__main-title--secondary {
  font-size: 6rem;
  left: 150px;
  top: 130px;
}

.hero__scroll-button-container {
  width: 30%;
}

.hero__scroll-arrow-down {
  width: 6%;
}
