.header {
  width: 100%;
}

.main {
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
}

.section {
  padding: 0px 150px;
  height: 100vh;
}

.article {
  padding: 10px 250px;
}

.paragraph {
  margin-bottom: 15px;
  font-size: 2rem;
}

.heading_xs {
  font-size: 3rem;
}

.heading_xl {
  font-size: 7rem;
}

.heading_quicksand {
  font-size: 2.2rem;
}

.section-heading::after {
  margin-left: 30px;
}

.badge-message {
  font-size: 2rem;
  padding: 10px 15px;
}

.header__container {
  padding: 10px 40px;
}

.header__logo-link {
  width: 10%;
}

.header__logo {
  width: 90%;
}

.header__burger-icon {
  display: none;
}

.desktop-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.desktop-menu__list {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  padding-right: 15px;
  list-style: none;
}

.desktop-menu__item {
  margin: 7px 15px 0px 15px;
}

.desktop-menu__link {
  font-size: 2.4rem;
  text-decoration: none;
  text-align: center;
  font-family: "Alien Encounters";
  text-shadow: 0px 0px 10px var(--light-blue), 0px 0px 30px var(--light-blue),
    0px 0px 50px var(--light-blue);
  color: var(--white);
}

.desktop-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 5rem;
  padding-top: 5px;
  font-family: "Alien Encounters";
  font-size: 2.2rem;
  color: var(--black);
  text-decoration: none;
  background-color: var(--white);
  border-radius: 20px;
  text-shadow: 0px 0px 20px var(--pink), 0px 0px 30px var(--pink),
    0px 0px 60px var(--pink);
  box-shadow: inset 0px 0px 30px 1px var(--pink), 0px 0px 50px 1px var(--pink);
  border: 1px solid var(--pink);
}

.hero::before {
  background: linear-gradient(180deg, var(--dark-purple), #18042300 80%),
    linear-gradient(0deg, var(--dark-purple), #18042300 50%);
}

.hero__article {
  width: 38%;
  min-width: 640px;
  max-width: 645px;
}

.hero__article-triangle-background {
  top: -45px;
}

.hero__main-title {
  font-size: 14rem;
  line-height: 12rem;
}

.hero__main-greeting {
  font-size: 5.5rem;
  top: -110px;
}

.hero__main-title--secondary {
  font-size: 8.5rem;
  left: 200px;
  top: 190px;
}

.hero__article--secondary .hero__main-greeting {
  font-size: 5.5rem;
  top: -110px;
}

.hero__article--secondary .hero__main-title--secondary {
  font-size: 8.5rem;
  left: 300px;
  top: 190px;
}

.hero__scroll-button-container {
  width: 35%;
}

.hero__scroll-button {
  font-size: 2rem;
  height: 40px;
}

.hero__scroll-arrow-down {
  width: 5%;
}

.about__content-container {
  width: 70%;
  padding: 70px 35px;
}

.about__heading {
  top: -45px;
  left: 40px;
}

.about__technologies-logos {
  /* width: 50%; */
  margin-top: 40px;
  justify-content: center;
}

.technology-logo {
  width: 12%;
  margin: 0px 25px;
  filter: drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 25px var(--light-blue));
}

.experience {
  background: linear-gradient(
      180deg,
      var(--dark-purple),
      var(--dark-purple-gradient) 95%
    ),
    linear-gradient(0deg, var(--dark-purple), var(--dark-purple-gradient) 30%);
}

.experience__entries {
  display: flex;
  justify-content: center;
}

.experience__entry {
  width: 90%;
}

.youtube__videos-carrousel-container {
  width: 70%;
  min-width: 700px;
  min-height: fit-content;
}

.youtube__video-card {
  width: 40%;
  min-width: 440px;
  max-width: 440px;
  height: 450px;
}

.youtube__video-title {
  height: 40%;
}

.youtube__video-data-container {
  position: relative;
  bottom: -20px;
}

.youtube__video-date {
  margin-bottom: 0px;
}

.youtube__video-views {
  margin-bottom: 0px;
}
