/* CSS rules order 
1. Positioning (fixed, absolute, relative, etc)
2. Box model (width, height, padding, margin, etc)
3. Typography
4. Visuals (border-shadow, border-radius, etc)
5. Others
*/

:root {
  --white: #ffffff;
  --black: #0b0b0c;
  --dark-purple: #200120;
  --light-purple: #3f33cc;
  --pink: #ff00d9;
  --light-blue: #5beaf7;
}

@font-face {
  font-family: "Alien Encounters";
  src: url("../assets/fonts/Alien-Encounters-Regular.ttf");
}

@font-face {
  font-family: "Streamster";
  src: url("../assets/fonts/Streamster.ttf");
}

@font-face {
  font-family: "Outrun future";
  src: url("../assets/fonts/Outrun\ future.otf");
}

@font-face {
  font-family: "Rocket Rinder";
  src: url("../assets/fonts/Rocket\ Rinder.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--dark-purple);
  color: var(--white);
}

.header {
  position: fixed;
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: space-between;
  min-height: 7rem;
  padding: 5px 15px;
  background: none;
  /* border: 1px solid red; */
}

.header__logo {
  width: 35%;
  filter: drop-shadow(0px 0px 25px var(--pink))
    drop-shadow(0px 0px 35px var(--pink)) drop-shadow(0px 0px 50px var(--pink));
}

.header__burger-icon {
  width: 10%;
  filter: drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 15px var(--light-blue))
    drop-shadow(0px 0px 30px var(--light-blue))
    drop-shadow(0px 0px 45px var(--light-blue))
    drop-shadow(0px 0px 50px var(--light-blue));
  border-radius: 20px;
}

.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 70%;
  padding: 20px 10px;
  /* background: rgb(98, 0, 84); */
  background: linear-gradient(
    90deg,
    rgba(98, 0, 84, 0.5) 0%,
    rgba(56, 0, 56, 0.5) 25%,
    rgba(32, 1, 32, 0.5) 100%
  );
  box-shadow: 0px 0px 60px 5px var(--pink);
  border-left: 1px solid var(--pink);
  backdrop-filter: blur(10px);
}

.mobile-menu__close-icon {
  position: absolute;
  right: 20px;
  width: 8%;
  filter: drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 20px var(--light-blue))
    drop-shadow(0px 0px 30px var(--light-blue))
    drop-shadow(0px 0px 50px var(--light-blue));
}

.mobile-menu--hidden {
  display: none;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 250px;
  margin-top: 50px;
  list-style: none;
  text-align: center;
  /* border: 1px solid red; */
}

.mobile-menu__item {
  /*  */
}

.mobile-menu__link {
  font-size: 3rem;
  text-decoration: none;
  font-family: "Alien Encounters";
  text-shadow: 0px 0px 10px var(--light-blue), 0px 0px 30px var(--light-blue),
    0px 0px 50px var(--light-blue);
  color: var(--white);
}

.mobile-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 8rem;
  margin-top: 50px;
  font-family: "Alien Encounters";
  font-size: 2.8rem;
  color: var(--black);
  text-decoration: none;
  background-color: var(--white);
  border-radius: 20px;
  text-shadow: 0px 0px 20px var(--pink), 0px 0px 30px var(--pink),
    0px 0px 60px var(--pink);
  box-shadow: inset 0px 0px 30px 1px var(--pink), 0px 0px 50px 1px var(--pink);
  border: 1px solid var(--pink);
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding-top: 200px;
  background: url("../assets/images/hero_background.jpg");
  background-position: left;
  background-size: cover;
}

.hero__title-container {
  position: relative;
  display: flex;
  height: fit-content;
}

.hero__main-title {
  z-index: 2;
  font-size: 6rem;
  font-weight: 500;
  font-family: "Alien Encounters";
  /* transform: rotate(-20deg); */
  text-shadow: 0px 0px 20px var(--pink), 0px 0px 30px var(--pink),
    0px 0px 60px var(--pink);
}
.hero__main-title--gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(150, 150, 150)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

.hero__main-title--secondary {
  position: absolute;
  left: 120px;
  top: 60px;
  font-family: "Streamster";
  font-size: 5rem;
  /* transform: rotate(-20deg); */
  color: var(--white);
  text-shadow: 0px 0px 20px var(--light-blue), 0px 0px 30px var(--light-blue),
    0px 0px 60px var(--light-blue);
}

.hero__triangle {
  position: absolute;
  transform: rotate(-5deg);
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 250px solid transparent;
  border-top: 200px solid rgb(156, 41, 125);
}
