/* CSS rules order 
1. Positioning (fixed, absolute, relative, etc)
2. Box model (width, height, padding, margin, etc)
3. Typography
4. Visuals (border-shadow, border-radius, etc)
5. Others
*/

:root {
  --white: #ffffff;
  --black: #0b0b0c;
  --dark-purple: #200120;
  --light-purple: #3f33cc;
  --pink: #ff00d9;
  --light-blue: #5beaf7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--dark-purple);
  color: var(--white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7rem;
  padding: 5px 15px;
  background: none;
  /* border: 1px solid red; */
}

.header__logo {
  width: 35%;
  filter: drop-shadow(0px 0px 30px var(--pink))
    drop-shadow(0px 0px 40px var(--pink));
}

.header__burger-icon {
  width: 10%;
  filter: drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 15px var(--light-blue))
    drop-shadow(0px 0px 30px var(--light-blue))
    drop-shadow(0px 0px 45px var(--light-blue))
    drop-shadow(0px 0px 50px var(--light-blue));
  border-radius: 20px;
  /* box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4; */
}

.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 80%;
  padding: 20px 10px;
  background: rgb(98, 0, 84);
  background: linear-gradient(
    90deg,
    rgba(98, 0, 84, 1) 0%,
    rgba(56, 0, 56, 1) 35%,
    rgba(32, 1, 32, 1) 100%
  );
  box-shadow: 0px 0px 60px 5px var(--pink);
  border-left: 1px solid var(--pink);
}

.mobile-menu__close-icon {
  position: absolute;
  right: 20px;
  width: 8%;
  filter: drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 20px var(--light-blue))
    drop-shadow(0px 0px 30px var(--light-blue))
    drop-shadow(0px 0px 50px var(--light-blue));
}

.mobile-menu--hidden {
  display: none;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 200px;
  margin-top: 50px;
  list-style: none;
  text-align: center;
  /* border: 1px solid red; */
}

.mobile-menu__item {
  font-size: 3rem;
}

.mobile-menu__link {
  text-decoration: none;
  color: var(--white);
}

.mobile-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 5rem;
  margin-top: 50px;
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
}
