/* CSS rules order 
1. Positioning (fixed, absolute, relative, etc)
2. Box model (width, height, padding, margin, etc)
3. Typography
4. Visuals (border-shadow, border-radius, etc)
5. Others
*/

:root {
  --white: #ffffff;
  --black: #0b0b0c;
  --dark-purple: #180423;
  --light-purple: #3e096e;
  --pink: #ff00d9;
  --light-blue: #5beaf7;
  --text-white: #dcdde2;
  --dark-purple-gradient: #1804234d;
  --light-blue-gradient: #03242f81;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(58, 6, 66);
  border: 3px solid rgb(65, 7, 99);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-purple-gradient);
}

@font-face {
  font-family: "Alien Encounters";
  src: url("../assets/fonts/Alien_Encounters_Regular.ttf");
}

@font-face {
  font-family: "Streamster";
  src: url("../assets/fonts/Streamster.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--dark-purple);
  color: var(--white);
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 30px;
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 5px 0px;
  padding: 5px 20px;
}

.heading {
  margin: 5px 0px 10px 0px;
  font-weight: 500;
}

.heading_xs {
  font-size: 2.4rem;
}

.heading_s {
  font-size: 3rem;
}

.heading_m {
  font-size: 3.6rem;
}

.heading_l {
  font-size: 4.2rem;
}

.heading_xl {
  font-size: 4.8rem;
}

.heading_streamster {
  font-family: "Streamster";
  text-shadow: 0px 0px 5px var(--pink), 0px 0px 10px var(--pink),
    0px 0px 20px var(--pink), 0px 0px 40px var(--pink);
}

.heading_alien_encounters {
  font-family: "Alien Encounters";
  text-shadow: 0px 0px 5px var(--light-blue), 0px 0px 10px var(--light-blue),
    0px 0px 20px var(--light-blue), 0px 0px 40px var(--light-blue);
}

.heading_quicksand {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
}

.section-heading {
  display: flex;
  align-items: center;
}

.section-heading::after {
  content: "";
  position: relative;
  top: 5px;
  display: block;
  margin-left: 20px;
  height: 2px;
  width: 50%;
  background: rgba(255, 32, 244, 0.322);
  box-shadow: 0px 0px 10px var(--pink);
}

.paragraph {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  line-height: 1.3;
  color: var(--text-white);
}

.link {
  color: var(--white);
  text-shadow: 0px 0px 5px var(--pink), 0px 0px 10px var(--pink);
  text-decoration: none;
}

.badge-message {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--pink);
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  background: linear-gradient(
    135deg,
    rgba(120, 0, 102, 0.559) 10%,
    rgba(56, 0, 56, 0.5) 35%,
    rgba(87, 4, 87, 0.587) 100%
  );
  box-shadow: 0px 0px 10px 1px var(--pink);
  backdrop-filter: blur(10px);
}

.header {
  width: 100%;
  position: fixed;
  z-index: 3;
  min-height: 7rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(122, 0, 104, 0.146) 0%,
    rgba(56, 0, 56, 0.329) 25%,
    rgba(32, 1, 32, 0.493) 100%
  );
  backdrop-filter: blur(3px);
}

.header__container--no-background {
  background: none;
  backdrop-filter: none;
}

.header__logo-link {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.header__logo {
  width: 35%;
  filter: drop-shadow(0px 0px 15px var(--pink))
    drop-shadow(0px 0px 30px var(--pink)) drop-shadow(0px 0px 45px var(--pink));
}

.header__burger-icon {
  width: 10%;
  filter: drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 15px var(--light-blue))
    drop-shadow(0px 0px 30px var(--light-blue))
    drop-shadow(0px 0px 45px var(--light-blue))
    drop-shadow(0px 0px 50px var(--light-blue));
  border-radius: 20px;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 70%;
  padding: 20px 10px;
  border-left: 1px solid var(--pink);
  background: linear-gradient(
    90deg,
    rgba(90, 0, 77, 0.5) 0%,
    rgba(56, 0, 56, 0.5) 25%,
    rgba(32, 1, 32, 0.5) 100%
  );
  box-shadow: 0px 0px 60px 5px var(--pink);
  backdrop-filter: blur(10px);
}

.mobile-menu__close-icon {
  position: absolute;
  right: 20px;
  width: 8%;
  filter: drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 20px var(--light-blue))
    drop-shadow(0px 0px 30px var(--light-blue))
    drop-shadow(0px 0px 50px var(--light-blue));
}

.mobile-menu--hidden {
  display: none;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 250px;
  margin-top: 50px;
  list-style: none;
  text-align: center;
}

.mobile-menu__link {
  font-size: 3rem;
  text-decoration: none;
  font-family: "Alien Encounters";
  text-shadow: 0px 0px 10px var(--light-blue), 0px 0px 30px var(--light-blue),
    0px 0px 50px var(--light-blue);
  color: var(--white);
}

.mobile-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 8rem;
  padding-top: 5px;
  margin-top: 50px;
  font-family: "Alien Encounters";
  font-size: 2.8rem;
  color: var(--black);
  text-decoration: none;
  background-color: var(--white);
  border-radius: 20px;
  text-shadow: 0px 0px 20px var(--pink), 0px 0px 30px var(--pink),
    0px 0px 60px var(--pink);
  box-shadow: inset 0px 0px 30px 1px var(--pink), 0px 0px 50px 1px var(--pink);
  border: 1px solid var(--pink);
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/images/hero_background.jpg");
  background-position: left;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, var(--dark-purple), #18042300 25%);
}

.hero__article {
  display: flex;
  position: relative;
  width: 100%;
  height: 60%;
}

.hero__article--secondary {
  position: absolute;
}

.hero__title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.hero__article-triangle-background {
  position: absolute;
}

.hero__main-title {
  z-index: 2;
  position: absolute;
  top: 120px;
  font-size: 10rem;
  font-weight: 500;
  font-family: "Alien Encounters";
  line-height: 8rem;
  text-align: center;
  letter-spacing: 0.5rem;
  text-shadow: 0px 0px 10px var(--light-blue), 0px 0px 20px var(--light-blue),
    0px 0px 40px var(--light-blue);
}

.hero__main-greeting {
  position: absolute;
  top: -90px;
  font-family: "Streamster";
  font-size: 4rem;
  transform: rotate(-10deg);
  color: var(--white);
  text-shadow: 0px 0px 5px var(--pink), 0px 0px 10px var(--pink),
    0px 0px 20px var(--pink), 0px 0px 40px var(--pink);
}

.hero__article--secondary .hero__main-greeting {
  position: absolute;
  top: -90px;
  left: 10px;
  font-family: "Streamster";
  font-size: 4rem;
  transform: rotate(-10deg);
  color: var(--white);
  text-shadow: 0px 0px 5px var(--pink), 0px 0px 10px var(--pink),
    0px 0px 20px var(--pink), 0px 0px 40px var(--pink);
}

.hero__main-title--secondary {
  position: absolute;
  left: 150px;
  top: 120px;
  font-family: "Streamster";
  font-size: 6.5rem;
  transform: rotate(-10deg);
  color: var(--white);
  text-shadow: 0px 0px 5px var(--pink), 0px 0px 10px var(--pink),
    0px 0px 20px var(--pink), 0px 0px 40px var(--pink);
}

.hero__article--secondary .hero__main-title--secondary {
  position: absolute;
  left: 210px;
  top: 120px;
  font-family: "Streamster";
  font-size: 6.5rem;
  color: var(--white);
  text-shadow: 0px 0px 5px var(--pink), 0px 0px 10px var(--pink),
    0px 0px 20px var(--pink), 0px 0px 40px var(--pink);
  transform: rotate(-10deg);
}

.hero__scroll-button-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  width: 80%;
  height: fit-content;
}

.hero__scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 30px;
  padding-top: 3px;
  margin-bottom: 10px;
  color: var(--white);
  font-family: "Alien Encounters";
  text-decoration: none;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px var(--light-blue), 0px 0px 10px var(--light-blue),
    0px 0px 20px var(--light-blue), 0px 0px 40px var(--light-blue);
  border: 1px solid var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 1px var(--light-blue),
    inset 0px 0px 20px 1px var(--light-blue);
}

.hero__scroll-arrow-down {
  position: relative;
  bottom: 3px;
  width: 7%;
  margin: 0px 15px;
  filter: drop-shadow(0px 0px 5px var(--light-blue))
    drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 20px var(--light-blue))
    drop-shadow(0px 0px 25px var(--light-blue));
}

.about {
  padding: 100px 0px 0px 0px;
}

.about__content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  margin: 40px 0px;
  padding: 40px 20px;
  border: 1px solid var(--text-white);
  border-radius: 10px;
  background: linear-gradient(
    140deg,
    rgba(128, 16, 111, 0.5) 0%,
    rgba(34, 0, 34, 0.5) 40%,
    rgba(71, 8, 89, 0.5) 100%
  );
  box-shadow: 0px 0px 40px 1px var(--light-blue);
}

.about__heading {
  position: absolute;
  top: -40px;
  left: 20px;
}

.about__technologies-used {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.about__technologies-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  margin-top: 5px;
}

.technology-logo {
  width: 22%;
  border-radius: 15px;
  margin-top: 35px;
  filter: drop-shadow(0px 0px 15px var(--light-blue))
    drop-shadow(0px 0px 20px var(--light-blue));
}

.experience {
  position: relative;
  padding: 50px 0px;
  background: linear-gradient(
      180deg,
      var(--dark-purple),
      var(--dark-purple-gradient) 95%
    ),
    linear-gradient(0deg, var(--dark-purple), var(--dark-purple-gradient) 10%);
}

.experience::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../assets/images/black_hole_lines_blue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}

.experience__title-container {
  margin-bottom: 10px;
}

.experience__work-status {
}

.experience__companies-description {
  margin-top: 5px;
}

.experience__entry {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 20px;
  border: 1px solid var(--light-purple);
  border-radius: 15px;
}

.experience__entry-date {
  margin-top: 5px;
  font-size: 1.5rem;
}

.experience__entry-description {
  margin: 15px 0px;
}

.experience__entry-tasks {
  list-style: none;
}

.experience__entry-task {
  position: relative;
  width: 90%;
  margin-bottom: 10px;
  padding-left: 30px;
}

.experience__entry-task::before {
  position: absolute;
  width: 20px;
  height: 30px;
  content: "▹";
  top: 0;
  left: 5px;
  font-size: 2.2rem;
  line-height: 20px;
  color: var(--white);
  text-shadow: 0px 0px 10px var(--pink), 0px 0px 15px var(--pink);
}

.youtube {
  padding: 50px 0px;
  position: relative;
  background: linear-gradient(
      180deg,
      var(--dark-purple),
      var(--dark-purple-gradient) 70%
    ),
    linear-gradient(0deg, var(--dark-purple), var(--dark-purple-gradient) 50%);
}

.youtube::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../assets/images/synthwave_background_2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 0.5;
}

.youtube__description {
  margin-bottom: 15px;
}

.youtube__videos-carrousel-container {
  display: block;
  width: 100%;
  padding: 10px 0 10px 25px;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.youtube__video-card {
  display: inline-block;
  width: 70%;
  height: 330px;
  margin-right: 25px;
  padding-bottom: 10px;
  border: 1px solid var(--pink);
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    rgba(120, 0, 102, 0.559) 10%,
    rgba(56, 0, 56, 0.5) 35%,
    rgba(87, 4, 87, 0.587) 100%
  );
  box-shadow: 0px 0px 10px 1px var(--pink);
  overflow: hidden;
  word-wrap: normal;
  color: inherit;
  text-decoration: none;
}

.youtube__video-thumbnail {
  width: 100%;
}

.youtube__video-content {
  position: relative;
  width: 100%;
  height: 50%;
  padding: 5px 15px;
  white-space: normal;
}

.youtube__video-title {
  width: 100%;
  height: 60%;
  overflow-y: scroll;
  overflow-wrap: break-word;
  font-size: 1.8rem;
  letter-spacing: 0px;
  text-shadow: 0px 0px 3px var(--light-blue), 0px 0px 5px var(--light-blue);
}

.youtube__video-data-container {
  display: flex;
}

.youtube__video-data {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}

.youtube__video-date {
  font-size: 1.4rem;
  margin: 0px;
}

.youtube__video-views {
  font-size: 1.6rem;
  margin: 5px 0px 0px 0px;
}

.youtube__link-icon-container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: end;
}

.youtube__link-icon {
  width: 30px;
  filter: drop-shadow(0px 0px 5px var(--light-blue));
}

.contact {
  padding: 50px 0px;
  position: relative;
  background: linear-gradient(
      180deg,
      var(--dark-purple),
      var(--dark-purple-gradient) 70%
    ),
    linear-gradient(0deg, var(--dark-purple), var(--dark-purple-gradient) 60%);
}

.contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../assets/images/synthwave_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.contact__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.contact__form-text-field {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid var(--pink);
  box-shadow: 0px 0px 10px var(--pink);
  background: linear-gradient(
    135deg,
    rgba(120, 0, 102, 0.559) 10%,
    rgba(56, 0, 56, 0.5) 35%,
    rgba(87, 4, 87, 0.587) 100%
  );
  color: var(--text-white);
  font-family: "Quicksand";
  font-size: 1.6rem;
}

.contact__form-text-field::placeholder {
  color: #ced0d9c6;
}

.contact__form-text-area {
  width: 100%;
  height: inherit;
  max-width: 100%;
  max-height: 300px;
}

.contact__email {
  text-align: center;
}

.contact__form-button {
  width: 20rem;
  height: 6rem;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: "Alien Encounters";
  font-size: 2.6rem;
  color: var(--black);
  text-decoration: none;
  background-color: var(--white);
  border-radius: 20px;
  text-shadow: 0px 0px 20px var(--light-blue), 0px 0px 30px var(--light-blue),
    0px 0px 60px var(--light-blue);
  box-shadow: inset 0px 0px 30px 1px var(--light-blue),
    0px 0px 30px 1px var(--light-blue);
  border: 1px solid var(--light-blue);
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  background: linear-gradient(0deg, #460958a2, transparent);
}

.footer_heading {
  margin-bottom: 15px;
}

.footer__socials {
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.footer__social-logo {
  width: 30px;
  filter: drop-shadow(0px 0px 10px var(--light-blue))
    drop-shadow(0px 0px 30px var(--light-blue));
}

.logo_m {
  width: 35px;
}

.footer__github-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__github-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Quicksand";
  color: var(--text-white);
}

.footer__github-paragraph {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-family: "Quicksand";
}

.footer__github-stats-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer__github-icon {
  position: relative;
  top: -2px;
  width: 15px;
  margin-right: 5px;
}

.footer__github-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.6rem;
  font-family: "Alien Encounters";
  text-shadow: 0px 0px 5px var(--light-blue);
}

.hidden {
  display: none;
}
